* {
  box-sizing: border-box;
}

:root {
  --clrDone: #c3c3c3;
  --clr1: rgb(179, 67, 179);
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  widows: 95vw;
  text-align: center;
}
h1 {
  color: var(--clr1);
  font-size: 100px;
  opacity: 0.2;
  position: absolute;
  /* transform: translateY(-100%); */
}
.user-msg {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: #333;
  padding: 0.1rem 2rem;
  border-radius: 0.8em;
  transition: all 0.5s ease-in-out;
  transform: translateX(150%);
  color: #f3f3f3;
}

.app-container {
  /* background: red; */
  max-width: 100%;
}
.app-container.flex {
  flex-direction: column;
}
.app-container > *:not(.todo-list) {
  align-items: center;
  justify-content: center;
}

.todo-list {
  min-height: 50vh;
}
.todo-preview {
  cursor: pointer;
}
.todo-preview:hover .action-container {
  display: block;
}

.todo-preview > p::first-letter {
  text-transform: capitalize;
}
.important {
  color: crimson;
}

.user-msg.open {
  transform: translateX(0);
}

.todo-preview.done :where(p, span) {
  text-decoration: line-through;
  color: var(--clrDone);
}

ul small {
  margin: 1em;
}
.todo-preview.done ~ small {
  color: var(--clrDone);
}
/* helper functions */
.clean-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
}
.d-none {
  display: none;
}
.a-center {
  align-items: center;
}
.j-content {
  justify-content: center;
}
