* {
  box-sizing: border-box;
}
:root {
  --clrDone: #b4b4b4;
  --clr1: rgb(179, 67, 179);
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0;
  color: #555;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
  width: 95vw;
  text-align: center;
}
h1 {
  color: var(--clr1);
  font-size: 100px;
  opacity: 0.1;
  position: absolute;
  z-index: -1;
  /* transform: translateY(-100%); */
}
input,
select {
  border: none;
  border-bottom: 1px solid var(--clr1);
}
input:focus,
select:focus {
  border: none;
  outline: 1px solid var(--clr1);
}
input:focus::placeholder {
  transition: all 0.2s ease-in-out;
  transform: translateY(-150%);
  opacity: 0;
}
button {
  cursor: pointer;
  background: none;
  border: 1px solid var(--clr1);
  padding: 0.5em;
  border-radius: 1em;
  color: #333;
}
.user-msg {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: #333;
  padding: 0.1rem 2rem;
  border-radius: 0.8em;
  transition: all 0.5s ease-in-out;
  transform: translateX(150%);
  color: #f3f3f3;
}

.todo-filter {
  justify-content: space-between;
}
.app-container {
  max-width: 100%;
}
.app-container.flex {
  flex-direction: column;
}
.app-container > *:not(.todo-list) {
  align-items: center;
  justify-content: space-between;
}

.todo-list {
  min-height: 50vh;
  min-width: 50vw;
}
.todo-preview {
  cursor: pointer;
  justify-content: space-between;
}
.todo-preview:hover .action-container {
  display: block;
}

.todo-preview > p::first-letter {
  text-transform: capitalize;
}
.important {
  color: crimson;
}

.user-msg.open {
  transform: translateX(0);
}

.todo-preview.done :where(p, span) {
  text-decoration: line-through;
  color: var(--clrDone);
}

ul small {
  margin: 1em;
}
.todo-preview.done ~ small {
  color: var(--clrDone);
}

.add-todo-container {
  /* background: chartreuse; */
  width: 100%;
  flex-direction: column;
}
.add-todo-container > * {
  padding: 0.5em;
  margin: 0 0 1em 0;
  width: 100%;
}

.add-todo-container .add-btn {
  padding: 0.5em 0;
  border-radius: 0.8em;
  border: 1px solid var(--clr1);
  width: 25%;
}

/* helper functions */
.clean-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.flex {
  display: flex;
}
.d-none {
  display: none;
}
.a-center {
  align-items: center;
}
.j-content {
  justify-content: center;
}
